<%= turbo_frame_tag "#{sport}" do %>
	<li class="list-group-item list-group-item-danger rounded-bottom-20">
		<label class="ms-2 me-auto">
			There's no game going on nearby
		</label>
	</li>
<% end %>
