<style type="text/css">
    #map { width: 100%; height: 300px; }
</style>

<div id="map" class="position-relative"></div>

<script type="text/javascript">
	document.addEventListener("turbo:load", function() {
	mapboxgl.accessToken = 'pk.eyJ1IjoiLXhhbmRlLSIsImEiOiJja3k2MXZleHUwYzh1MnZscGxtdnpyY2pnIn0.2MmE9CiJ8RT-HrdX5bTdYg';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [ <%= position.x %>, <%= position.y %> ], // starting position [lng, lat]
        zoom: 17, // starting zoom
    });

    const marker1 = new mapboxgl.Marker({ color: 'black' })
        .setLngLat([ <%= position.x %>, <%= position.y %> ])
        .addTo(map);
	})
</script>