<%= turbo_frame_tag sport do %>
	<%= link_to games_path(sport.name), data: { turbo_frame: "#{sport.name}" }, class: "link-sport" do %>
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-top-20 mt-2">
			<label class="fw-bold">
				<%= sport.name%>
			</label>
		</li>
	<%end%>
<% end %>
<%= turbo_frame_tag "#{sport.name}" do %>
<% end %>